<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>本地存储</title>
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>

<script type="text/html" id='ttt'>
    var module = {exports:{a:1}};
    var exports = module.exports;
    exports.b =1;
    console.log(module);

    exports = {c:1}

    console.log(module);


</script>


<script>
    Demo.writeExample({
        "测试exports 和 module": $('#ttt').html()
    });
</script>

</body>
</html>