<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>
<script type="text/html" id='test1'>
    var o = {
        name: 'tom'
    }

    function a() {
        with (o) {
            console.log(name);
        }
    }
    a();

    // tom
</script>


<script>
    Demo.writeExample({
        "with扩展作用域链": $('#test1').html()
    });
</script>

</body>
</html>