<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        body {
            white-space: pre;
        }

        .t1 {
            width: 100px;
            height: 100px;
            background-color: green;
            opacity: 0.2;
            filter: alpha(opacity=20);
        }
    </style>
</head>
<body>
el.style.cssText = "width:100px;height: 100px;"
el.setAttribute('style',s);
opacity: 0.2;
filter:alpha(opacity=20);
body{
    white-space: pre;
}
<div class="t1"></div>
</body>
</html>