<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <style type="text/css">
    	table.cal{
    		border-collapse: separate;
    		border-spacing: 0; 
    		/*单元格之间的距离，IE7 不支持*/

    		text-align: center;
    		color: #333;
    	}
    	.cal th, .cal td {
    		padding: 0;
    		margin: 0;
    	}
    	.cal caption {
    		font-size: 1.25em;
    		padding-top: 0.692em;
    		padding-bottom: 0.692em;
    		background-color:#d3dde6;
    	}
    </style>
</head>
<body>
<script type="text/javascript" id='test1'>

</script>

<table summary='A' class='cal' cellspacing='0'>
	<caption>
		<a>shang</a>
		<a>xia</a>
	</caption>

	<thead>
		<tr>
			<th>11</th>
			<th>22</th>
			<th>33</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<th>11</th>
			<th>22</th>
			<th>33</th>
		</tr>
		<tr>
			<th>11</th>
			<th>22</th>
			<th>33</th>
		</tr>
	</tbody>
</table>

</body>
</html>