<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../../js/lib/config.js"></script>
    <script>
        g.initDemo();
    </script>
</head>
<body>

<script type="text/javascript">
    window.onload = function(){
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.text = "alert('这是动态添加的！')";
        //text 支持所有浏览器
        document.body.appendChild(script);
    }
</script>

<script type="text/javascript" id='test1'>
    window.onload = function(){
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.text = "alert('这是动态添加的！')";
        //text 支持所有浏览器
        document.body.appendChild(script);
    }
</script>


<script>
    Demo.writeExample({
        "": $('#test1').html()
    });
</script>

</body>
</html>