<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="raphael.js"></script>
    <script type="text/javascript" src="bar.js"></script>
</head>
<body>


<div id="test" style="border: 1px solid red;width: 1500px;height: 400px"></div>
<script>
var chartData = [{
    country: "USA",
    visits: 4025
}, {
    country: "China",
    visits: 1882
}, {
    country: "Japan",
    visits: 1809
}, {
    country: "Germany",
    visits: 1322
}, {
    country: "UK",
    visits: 1122
}, {
    country: "France",
    visits: 1114
}, {
    country: "India",
    visits: 984
}, {
    country: "Spain",
    visits: 711
}, {
    country: "Netherlands",
    visits: 665
}, {
    country: "Russia",
    visits: 580
}, {
    country: "South Korea",
    visits: 443
}, {
    country: "Canada",
    visits: 441
}, {
    country: "Brazil",
    visits: 395
}, {
    country: "Italy",
    visits: 386
}, {
    country: "Australia",
    visits: 384
}, {
    country: "Taiwan",
    visits: 338
}, {
    country: "Poland",
    visits: 328
}];

    new Bar({
        domId: "test",
        titleField: 'country',
        valueField: 'visits',
        data: chartData
    })
</script>
</body>
</html>