<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="UTF-8">-->
    <meta charset="GBK">
</head>
<body>
<!--utf8 : "%E5%95%8A"-->
<!--gbk : %B0%A1-->

<form action="test.php">
<!--<form accept-charset="utf-8" action="test.php">-->
    <input type="text" name="test" />
    <input type="submit" value="tijiao">
</form>

<form action="test.php" method="post">
    <!--<form accept-charset="utf-8" action="test.php">-->
    <input type="text" name="test" />
    <input type="submit" value="tijiao">
</form>


</body>
</html>