<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="demo-toolbar-goto" class="demo-toolbar-dropdown" style="width: 300px; display: none;">
    <input style="width:290px;padding:5px;border:0;border-bottom:1px solid #9B9B9B;" type="text" placeholder="输入模块路径/名称以快速转到">

    <div class="demo-toolbar-dropdown-menu"
         style="_height: 300px;_width:300px;word-break:break-all;max-height:300px;overflow:auto;">
        <a href="" class="">ajax/base
            <small style="color: #999"> - AJAX 底层</small>
        </a>

        <a href="" class="">fx/scrollspy
            <small style="color: #999"> - 悬停效果</small>
        </a>
    </div>
</div>
</body>
</html>